*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.VC.db

[Cc]out.txt
[Dd]ebug.txt
[Aa]bort.txt
examples/*/*.[Pp][Nn][Gg]
examples/*/*.[Jj][Pp][Gg]
examples/*/*.[Jj][Pp][Ee][Gg]
examples/*/*.[Bb][Mm][pp]

[Dd]oxygen/
[Ll]ib/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Ee]xe/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.opendb
mtools/headers/mtools_config_OpenCL.hpp
mtools/headers/mtools_config.hpp