*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Ll]ib/
[Bb]in/
[Oo]bj/
[Bb]uild/
[Ee]xe/

.vs/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx